body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 50px;
  flex: 1;
}

.pokemon-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: stretch;
  margin: 0 auto;
  padding: 0;
  gap: 0px;
}


.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the button horizontally */
  justify-content: center; /* Centers the button vertically */
  text-align: center;
  min-height: 100px; /* Ensures consistent card height */
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  flex: 0 1 150px; /* 5 per row (20% width), subtracting gap */
  max-width: 150px;
  min-width: 120px; /* Ensures cards shrink properly */
  height: 100px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.pokemon-card h2 {
  margin-top: 0;
}

.pokemon-button {
  background-color: #181156;
  border: none;
  width: 100px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem); /* Adjust as needed */
}

.modal-body {
  text-align: center;
}